.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}

body {
  background-image: url('space.jpg');
  background-size: cover;
}

header {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}